@using Wlash.Models
@model IEnumerable<ArticleModel>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    @foreach(var item in Model)
    {
        <h2><a asp-controller="CompleteArticle" asp-action="Index"  asp-route-id="@item.Title">@item.Title</a></h2><br />
        <p>@item.Content</p> 
    }
</div>